#titulo{
    color: #3c5540; font-size: 60px;
    
}
#img_thales{
    text-align: center; border-radius: 100%;
}
body{
    font-size: 25px; background-color: #F4F7F5; color: #575A5E; text-align: center;
}
#logo_right{
    position: bottom;
    border-radius: 100%;
}
#logo_left{
    position: bottom; 
    border-radius: 100%;
}
div.box {
	width: 150px;
	display: inline-block;
}
h3{
    color: #38533c
}
div.box1 {
	width: 600px;
	display: inline-block;
}
#boas_vindas{
    font-size: 20px; color: #575A5E; font-family: 'Times New Roman', Times, serif; font-weight: 100;
}