.head_description{
    display: inline-block;
    position: relative;
    top: -400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#head_img{
    border-radius: 100%;
    display: inline-block;
}
body{
    font-size: 25px; background-color: #e0dfdf; color: #575A5E; text-align: center;
    padding: 0%; margin: 0%; border: 0%;
}
h3{
    color: #38533c
}
.contact{
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}
/* background color = #e0dfdf */