.contact-me {
  position: fixed;
  bottom: 50px;
  display: flex;
  color: #dad5b7;
  font-size: 15px;
  align-items: center;
  align-content: center;
  text-decoration: none;
  background-color: #3a5f6fad;
  border-radius: 30px;
  border: none;
  margin-left: 70px;
  height: 52px;
  width: 52px;
  border: 2px solid #dad5b7;
}

.contact-icon {
  pointer-events: none;
  margin-left: 9px;
  z-index: 0;
}

.contact-me:hover {
  background-color: #3a5f6f;
  transition: all 600ms;
  font-size: 17px;
  width: 145px;
}

.contact-me:hover {
  cursor: pointer;
}

#contact-text {
  margin-left: 5px;
  pointer-events: none;
}
