.content-divider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
  height: 200px;
  background-color: #3a5f6f;
}

.fade-top {
  height: 20px;
  background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.521));
}

.fade-bottom {
  height: 20px;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.527));
}