.header-container {
  background-color: #f1eff354;
  width: 100;
  color: #161415;
  padding: 20px;
}

.logo {
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 0px 0px 10px #161316;
  font-family: 'Dancing Script', cursive;
}