.projects {
  color: #DAD5B7;
  border-radius: 5px;
  margin: 40px auto;
  width: 80%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.486);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  height: 700px;
}

.project-box0 {
  background-image: url('https://images.unsplash.com/photo-1588546506381-74592e9b8a2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 25%;
  height: 65%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.486);
}

.project-box1 {
  background-image: url('https://images.unsplash.com/photo-1556742502-ec7c0e9f34b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 25%;
  height: 65%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.486);
}

.project-box2 {
  background-color: #3a5f6f;
  background-image: url('https://images.unsplash.com/photo-1506272517965-ec6133efee7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 25%;
  height: 65%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.486);
}

.project-title {
  width: 100%;
  font-weight: 900;
  margin-top: 30px;
  font-size: 50px;
  color: #3a5f6f;
}

.project-box0:hover, .project-box1:hover, .project-box2:hover {
  transition: all 800ms;
  transform: scale(1.1, 1.15);
}

.cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 100%;
  background-color: #3a5f6f;
  opacity: 0.9;
}

.cover .title-project {
  pointer-events: none;
  font-weight: 800;
  margin: 150px 0px 50px 0px; 
  font-size: 40px;
}

.cover .desc-project {
  pointer-events: none;
  font-size: larger;
}

.desc-project {
  pointer-events: none;
  font-size: 20px;
  margin: 80px auto;
  text-shadow: 1px 2px 3px black;
}

.title-project {
  pointer-events: none;
  margin: 40px auto;
  font-weight: 700;
  font-size: 40px;
  text-shadow: 1px 2px 3px black;
}

.links-nav {
  display: flex;
  text-shadow: 1px 2px 3px black;
  color: #DAD5B7;
}

.link {
  color: #DAD5B7;
  text-shadow: 1px 2px 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 25px;
  text-decoration: none;
}

.link:hover {
  color:#85816c
}

.no-cover {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.no-cover hr {
  width: 50%;
}

