#contact {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#contact .title-name {
  margin: 20px auto;
  font-size: 40px;
}

#contact #first-text {
  display: flex;
  word-spacing: 10px;
  margin: 20px auto;
  text-decoration: none;
  transition: all 800ms;
}

#contact #first-text:hover {
  transition: all 800ms;
  text-decoration: underline;
}

.icon {
  margin-left: 20px;
}

.information-nav {
  font-size: 22px;
  font-weight: 450;
  color: #85817c;
}

.information-nav h1 {
  text-align: left;
  width: 300px;
  color: #665e52;
  margin-bottom: 20px;
}

.info-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 60px auto;
  color: #665e52;
}


.email-phone {
  text-align: left;
  margin-top: 20px;
}

#contact hr {
  border: 0.5px solid #665e52;
  width: 50%;
  margin: 30px auto;
}

.email-phone p a, .email-phone p span {
  text-decoration: none;
  color: black;
  margin-left: 5px;
  font-weight: 350;
}

.email-phone p a:hover {
  text-decoration: underline;
}

.subtitle {
  color: #3a5f6f;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 200px;
  margin-left: -50px;
}

.nav-links h1 {
  font-size: 32px;
  margin-right: 40px;
}

.link-nav {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #665e52;
  margin-right: 20px;
  margin-top: 25px;
}

.link-nav:hover {
  color: #85817c;
  text-decoration: underline;
}

.social-nav h1 {
  font-size: 32px;
  margin-right: 40px;
}

.download {
  background-color: #3a5f6f;
  border-radius: 5px;
  color: #dad5b7;
  padding: 10px 25px;
  text-decoration: none;
  margin-top: 20px;
  border: 1px solid black;
  transition: all 0.5s;
  font-weight: 500;
}

.download:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 10px rgb(109, 109, 109);
}

.social-nav {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.social-nav a {
  font-size: 20px;
  text-decoration: none;
  color: #85817c;
  margin-top: 10px;
}

.social-nav a:hover {
  text-decoration: underline;
}
